:root {
    --color-background: hsl(0, 0%, 100%);
    --color-background-lineargradient: linear-gradient(
        hsla(0, 0%, 100%, 0.25) 20%,
        hsla(0, 0%, 100%, 0.75) 70%,
        var(--color-background)
    );
    --color-background-container: hsl(0, 0%, 85%, 0.5);
    --color-text: hsl(0, 0%, 12.5%);
    --color-text-secondary: hsl(0, 0%, 50%);
    --color-scrollbar-track: hsl(0, 0%, 90%);
    --color-scrollbar-thumb: hsl(0, 0%, 75%);
    --color-scrollbar-thumb-hover: hsl(0, 0%, 60%);
    --unknown-background: hsla(0, 100%, 12%, 0.3);
    --enabled-background: hsla(120, 100%, 35%, 0.3);
    --disabled-background: hsla(0, 100%, 35%, 0.3);
    --normal: hsl(0, 0%, 100%);
    --unknown: hsl(0, 90%, 24%);
    --enabled: hsl(120, 100%, 27%);
    --disabled: hsl(0, 84%, 41%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: hsl(0, 0%, 10%);
        --color-background-lineargradient: linear-gradient(
            hsla(0, 0%, 10%, 0.25) 20%,
            hsla(0, 0%, 10%, 0.85) 80%,
            var(--color-background)
        );
        --color-background-container: hsl(0, 0%, 7%, 0.75);
        --color-text: hsl(0, 0%, 100%);
        --color-text-secondary: hsl(0, 0%, 40%);
        --color-scrollbar-track: hsl(0, 0%, 15%);
        --color-scrollbar-thumb: hsl(0, 0%, 25%);
        --color-scrollbar-thumb-hover: hsl(0, 0%, 35%);
        --unknown-background: hsla(0, 100%, 12%, 0.3);
        --enabled-background: hsla(120, 100%, 44%, 0.3);
        --disabled-background: hsla(0, 100%, 50%, 0.3);
        --normal: hsl(0, 0%, 100%);
        --unknown: hsl(0, 91%, 22%);
        --enabled: hsl(120, 61%, 50%);
        --disabled: hsl(0, 68%, 42%);
    }
}

@font-face {
    font-family: "burbank";
    src: url("/assets/fonts//BurbankBigRegularBlack.ttf") format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("/assets/fonts//Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-corner {
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "roboto";
}

html {
    font-size: clamp(18px, 4vw, 26px);
}

h1 {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "burbank";
    font-size: 2.3rem;
}

h2 {
    margin: auto auto 0.5rem auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "burbank";
}

h3 {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

strong {
    font-weight: 900;
    font-style: normal;
}

/* Background */

.background {
    z-index: -9999;
    width: 100%;
    height: 700px;
    top: 0;
    overflow: hidden;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.background::after {
    content: "";
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--color-background-lineargradient);
}

.background-image {
    aspect-ratio: 2/1;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
}

/* Title */

.title {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Stats */

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    margin: 50px 24%;
}

.stats-container {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 50px;
    height: auto;
    background-color: var(--color-background-container);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0px 0px 50px 5px var(--unknown-background);
}

.stats-items {
    text-align: center;
}

.stats-items p {
    margin: auto;
    margin-bottom: 1rem;
}

.stats-status-container table {
    width: 100%;
    margin: 1rem 0 0.25rem 0;
    color: var(--color-text-secondary);
}

.stats-status-container table td {
    vertical-align: baseline;
}

.stats-status-container table td:first-child {
    font-size: 0.6rem;
    text-align: left;
    vertical-align: middle;
}

.stats-status-container table td:last-child {
    font-size: 0.8rem;
    text-align: right;
    vertical-align: middle;
}

.enabled-background {
    box-shadow: 0px 0px 50px 5px var(--enabled-background);
}

.disabled-background {
    box-shadow: 0px 0px 50px 5px var(--disabled-background);
}

.unknown {
    color: var(--unknown);
}

.enabled {
    color: var(--enabled);
}

.disabled {
    color: var(--disabled);
}

/* Responsiveness */

/* Background Change */

@media (max-width: 1400px) {
    .background-image {
        min-height: none;
        width: auto;
        height: 100%;
    }
}

/* Small Desktop Screen */

@media (max-width: 1800px) {
    .stats {
        margin: 50px 15%;
    }
}

/* Big Mobile Screen */

@media (max-width: 1250px) {
    .stats {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 75px;
        margin: 50px 24%;
    }
}

/* Small Mobile Screen */

@media (max-width: 800px) {
    .stats {
        margin: 50px 5%;
    }

    .stats-container {
        padding: 5%;
    }
}
